:root {
    --clr-background-light: hsl(177, 86%, 79%);
    --clr-card-background-light: hsl(177, 75%, 90%);
    --clr-font-light: black;
    --clr-font-hover-light: hsl(235, 67%, 54%);

    --clr-background-dark: hsl(236, 56%, 18%);
    --clr-card-background-dark: hsl(236, 62%, 30%);
    --clr-font-dark: white;

    --ff-base: 'Montserrat', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img, 
picture, 
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, 
button, 
textarea, 
select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3{
    line-height: 1;
}

.themeLight {
    --bg: var(--clr-background-light);
    --font: var(--clr-font-light);
    --card-bg: var(--clr-card-background-light);
    --font-hover: var(--clr-font-hover-light);
    --scrollbar: var(--clr-background-dark);
    --shadow: var(--clr-background-dark);
    --shadow-hover: var(--clr-card-background-dark);
    --filter-button-bg: var(--clr-background-dark);
    --filter-button-hover-bg: var(--clr-card-background-dark);
    --filter-button-font: white;
}

.themeDark {
    --bg: var(--clr-background-dark);
    --font: var(--clr-font-dark);
    --card-bg: var(--clr-card-background-dark);
    --font-hover: var(--clr-background-light);
    --scrollbar: var(--clr-background-light);
    --shadow: var(--clr-background-light);
    --shadow-hover: var(--clr-card-background-light);
    --filter-button-bg: var(--clr-background-light);
    --filter-button-hover-bg: var(--clr-card-background-light);
    --filter-button-font: black;
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: var(--ff-base);
    margin-block: 3.5rem;
    margin-inline: 10rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: solid 2px var(--font);
}

.title {
    font-size: 3rem;
    font-weight: var(--fw-bold);
}

.toggle-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.toggle-text {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.latest-news {
    display: grid;
    gap: 2.5rem;
    margin-top: 3rem;
}

.card {
    text-decoration: none;
    background-color: var(--card-bg);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 5rem;
    box-shadow: 10px 10px 1px 1px var(--shadow);
}

.card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 1px 1px var(--shadow-hover);
}

.source-logo {
    height: 160px;
}

.article-title {
    margin-right: 5rem;
    color: var(--font);
    font-weight: var(--fw-bold);
    font-size: 2rem;
    line-height: 1;
}

.card:hover .article-title {
    color: var(--font-hover);
}

.source-choice {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.source {
    font-size: 1.125rem;
}

#source {
    font-weight: var(--fw-bold);
}


/* Customising the scrollbar for chrome*/
::-webkit-scrollbar{
    width: 0.75rem;
  }
  
  ::-webkit-scrollbar-track{
    background-color: var(--bg);
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar);
    border: 0.25rem solid var(--bg);
    border-radius: 100vmax;
  }


::selection {
    color: var(--bg);
    background-color: var(--font);
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: var(--filter-button-bg);
    color: var(--filter-button-font);
    font-weight: var(--fw-bold);
    padding: 0.5rem 0.5rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-weight: var(--fw-bold);
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--filter-button-hover-bg);
}


@media (max-width: 800px) {
    body {
        margin-block: 2rem;
        margin-inline: 1rem;
    }

    .header {
        padding-bottom: 0.5rem;
    }

    .title {
        font-size: 0.9125rem;
    }

    .toggle-section {
        gap: 0.5rem;
    }

    .toggle-text {
        font-size: 0.65rem;
    }

    .latest-news {
        margin-top: 2rem;
        gap: 1rem;
    }

    .source-choice {
        margin-top: 0.5rem;
    }

    .filter-option {
        gap: 0.5rem;
    }

    .dropbtn {
        font-size: 0.75rem;
    }

    .source {
        font-size: 0.75rem;
    }

    .card {
        gap: 0.5rem;
        box-shadow: 2px 2px 1px 1px var(--shadow);
    }
    .card:hover {
        box-shadow: 2px 2px 1px 1px var(--shadow-hover);
    }

    .source-logo {
        height: 80px;
    }

    .article-title {
        margin-right: 0.5rem;
        font-size: 0.65rem;
        line-height: 1;
    }
}



/* Toggle switch css */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-background-light);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--clr-background-dark);
}

input:checked + .slider::before {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-card-background-dark);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
